# macOS
.DS_Store

# CMake
/build/
/docs/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# IDE
.vscode/

# Test artifacts
msgpipe_unit_tests
msgpipe_integration_tests

# Python cache
__pycache__/
*.pyc
